<div class="new-wrapper">
  <div class="header">
    <h1>Welcome to ASCII LAND</h1>
    <h2>Transform your videos into ascii art</h2>
  </div>
  <div class="upload-button-wrapper">

    <%= render 'form', video: @video %>
  </div>

</div>

<p id="notice"><%= notice %></p>
<link href="https://vjs.zencdn.net/7.6.6/video-js.css" rel="stylesheet" />

<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

  <!-- <script src="https://raw.githubusercontent.com/victorqribeiro/imgToAscii/v1.3/src/imgToAscii.js"></script> -->
	<!-- <script src="../assets/javascripts/imgToAscii.js"></script> -->

<div class="ascii-div">
  <script>
    let ele = new imgToAscii('/assets/ascii_frame_1.jpg', .1);
    ele.display();
  </script>
</div>
<br>
<button id="ascii-refresh" type="button" onClick="refreshPage()">View Ascii</button>

<script>
function refreshPage(){
    window.location.reload();
}
</script>

<!-- Display slideshow.mp4 -->
<p>
  <video
  id="my-video"
  class="video-js"
  controls
  preload="auto"
  width="640"
  height="264"
  data-setup="{}"
  >
  <source src="<%= url_for("/assets/slideshow.mp4")%>" type="video/mp4" />
  </video>
</p>

<p>
  <div>
    <% video_tag(url_for(@video.clip), style:'width:100%;height:auto', controls: '') %>
  </div>

  <video
  id="my-video"
  class="video-js"
  controls
  preload="auto"
  width="640"
  height="264"
  data-setup="{}"
  >
  <source src="<%= url_for(@video.clip)%>" type="video/mp4" />
  </video>
</p>



  <div class="upload-button-wrapper">
    <%= link_to '<button class="upload-video-button" type="button">Chop Your Video Up!!!</button>'.html_safe, edit_video_path(@video) %>
  </div>



<script src="https://vjs.zencdn.net/7.6.6/video.js"></script>
