<div class="new-wrapper">
  <div class="header">
    <h1>Welcome to ASCII LAND</h1>
    <h2>Transform your videos into ascii art</h2>
  </div>
  <div class="upload-button-wrapper">

    <%= render 'form', video: @video %>
  </div>

</div>

<p id="notice"><%= notice %></p>
<link href="https://vjs.zencdn.net/7.6.6/video-js.css" rel="stylesheet" />

<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

  <!-- <script src="https://raw.githubusercontent.com/victorqribeiro/imgToAscii/v1.3/src/imgToAscii.js"></script> -->
	<!-- <script src="../assets/javascripts/imgToAscii.js"></script> -->

  <div id="frames">
    <script>
      let one = new imgToAscii('/assets/frame_1.jpg', .1);
      one.display(1);

      let two = new imgToAscii('/assets/frame_2.jpg', .1);
      two.display(2);

      let three = new imgToAscii('/assets/frame_3.jpg', .1);
      three.display(3);

      let four = new imgToAscii('/assets/frame_4.jpg', .1);
      four.display(4);

      let five = new imgToAscii('/assets/frame_5.jpg', .1);
      five.display(5);

      let six = new imgToAscii('/assets/frame_6.jpg', .1);
      six.display(6);

      let seven = new imgToAscii('/assets/frame_7.jpg', .1);
      seven.display(7);

      let eight = new imgToAscii('/assets/frame_8.jpg', .1);
      eight.display(8);

      let nine = new imgToAscii('/assets/frame_9.jpg', .1);
      nine.display(9);

      let ten = new imgToAscii('/assets/frame_10.jpg', .1);
      ten.display(10);

      let eleven = new imgToAscii('/assets/frame_11.jpg', .1);
      eleven.display(11);

      let twelve = new imgToAscii('/assets/frame_12.jpg', .1);
      twelve.display(12);

      let thirteen = new imgToAscii('/assets/frame_13.jpg', .1);
      thirteen.display(13);

      let fourteen = new imgToAscii('/assets/frame_14.jpg', .1);
      fourteen.display(14);

      let fifteen = new imgToAscii('/assets/frame_15.jpg', .1);
      fifteen.display(15);

      let sixteen = new imgToAscii('/assets/frame_16jpg', .1);
      sixteen.display(16);

      let seventeen = new imgToAscii('/assets/frame_17.jpg', .1);
      seventeen.display(17);

      let eighteen = new imgToAscii('/assets/frame_18.jpg', .1);
      eighteen.display(18);

      let nineteen = new imgToAscii('/assets/frame_19.jpg', .1);
      nineteen.display(19);

      let twenty = new imgToAscii('/assets/frame_20.jpg', .1);
      twenty.display(20);

      let twentyone = new imgToAscii('/assets/frame_21.jpg', .1);
      twentyone.display(21);

      let twentytwo = new imgToAscii('/assets/frame_22.jpg', .1);
      twentytwo.display(22);

      let twentythree = new imgToAscii('/assets/frame_23.jpg', .1);
      twentythree.display(23);

      let twentyfour = new imgToAscii('/assets/frame_24.jpg', .1);
      twentyfour.display(24);

      let twentyfive = new imgToAscii('/assets/frame_25.jpg', .1);
      twentyfive.display(25);

      let twentysix = new imgToAscii('/assets/frame_26.jpg', .1);
      twentysix.display(26);

      let twentyseven = new imgToAscii('/assets/frame_27.jpg', .1);
      twentyseven.display(27);

      let twentyeight = new imgToAscii('/assets/frame_28.jpg', .1);
      twentyeight.display(28);

      let twentynine = new imgToAscii('/assets/frame_29.jpg', .1);
      twentynine.display(29);

      let thirty = new imgToAscii('/assets/frame_30.jpg', .1);
      thirty.display(30);

      let thirtyone = new imgToAscii('/assets/frame_31.jpg', .1);
      thirtyone.display(31);

      let thirtytwo = new imgToAscii('/assets/frame_32.jpg', .1);
      thirtytwo.display(32);

      let thirtythree = new imgToAscii('/assets/frame_33.jpg', .1);
      thirtythree.display(33);

      let thirtyfour = new imgToAscii('/assets/frame_34.jpg', .1);
      thirtyfour.display(34);

      let thirtyfive = new imgToAscii('/assets/frame_35.jpg', .1);
      thirtyfive.display(35);

      let thirtysix = new imgToAscii('/assets/frame_36jpg', .1);
      thirtysix.display(36);

      let thirtyseven = new imgToAscii('/assets/frame_37.jpg', .1);
      thirtyseven.display(37);

      let thirtyeight = new imgToAscii('/assets/frame_38.jpg', .1);
      thirtyeight.display(38);

      let thirtynine = new imgToAscii('/assets/frame_39.jpg', .1);
      thirtynine.display(39);

      let forty = new imgToAscii('/assets/frame_40.jpg', .1);
      forty.display(40);

      let fortyone = new imgToAscii('/assets/frame_41.jpg', .1);
      fortyone.display(41);

      let fortytwo = new imgToAscii('/assets/frame_42.jpg', .1);
      fortytwo.display(42);

      let fortythree = new imgToAscii('/assets/frame_43.jpg', .1);
      fortythree.display(43);

      let fortyfour = new imgToAscii('/assets/frame_44.jpg', .1);
      fortyfour.display(44);

      let fortyfive = new imgToAscii('/assets/frame_45.jpg', .1);
      fortyfive.display(45);

      let fortysix = new imgToAscii('/assets/frame_46.jpg', .1);
      fortysix.display(46);

      let fortyseven = new imgToAscii('/assets/frame_47.jpg', .1);
      fortyseven.display(47);

      let fortyeight = new imgToAscii('/assets/frame_48.jpg', .1);
      fortyeight.display(48);

      let fortynine = new imgToAscii('/assets/frame_49.jpg', .1);
      fortynine.display(49);

      let fifty = new imgToAscii('/assets/frame_50.jpg', .1);
      fifty.display(50);
    </script>
  </div>

<!-- Display slideshow.mp4 -->
<p>
  <video
  id="my-video"
  class="video-js"
  controls
  preload="auto"
  width="640"
  height="264"
  data-setup="{}"
  >
  <source src="<%= url_for("/assets/slideshow.mp4")%>" type="video/mp4" />
  </video>
</p>

<!-- Display slideshow.mp4 -->
<p>
  <video
  id="my-video"
  class="video-js"
  controls
  preload="auto"
  width="640"
  height="264"
  data-setup="{}"
  >
  <source src="<%= url_for("/assets/slideshow.mp4")%>" type="video/mp4" />
  </video>
</p>

<p>
  <div>
    <% video_tag(url_for(@video.clip), style:'width:100%;height:auto', controls: '') %>
  </div>

  <video
  id="my-video"
  class="video-js"
  controls
  preload="auto"
  width="640"
  height="264"
  data-setup="{}"
  >
  <source src="<%= url_for(@video.clip)%>" type="video/mp4" />
  </video>
</p>



  <div class="upload-button-wrapper">
    <%= link_to '<button class="upload-video-button" type="button">Chop Your Video Up!!!</button>'.html_safe, edit_video_path(@video) %>
  </div>



<script src="https://vjs.zencdn.net/7.6.6/video.js"></script>
