
<div class="new-wrapper">
  <div class="header">
    <h1>Welcome to ASCII LAND</h1>
    <h2>Transform your vidoes into ascii art</h2>
  </div>
<div class="upload-button-wrapper">

  <%= render 'form', video: @video %>
</div>

</div>



<p id="notice"><%= notice %></p>
<link href="https://vjs.zencdn.net/7.6.6/video-js.css" rel="stylesheet" />

<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>



<p>
  <div>
    <% video_tag(url_for(@video.clip), style:'width:100%;height:auto', controls: '') %>
  </div>

  <video
  id="my-video"
  class="video-js"
  controls
  preload="auto"
  width="640"
  height="264"
  data-setup="{}"
  >
  <source src="<%= url_for(@video.clip)%>" type="video/mp4" />
</video>


</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>

<script src="https://vjs.zencdn.net/7.6.6/video.js"></script>
